<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>arbershala.com</title>
</head>
<body>
    <header>
        <hr style="border-width:2px;border-color:black">
        <h1>Arber Shala</h1>
        <h3>
            <a href="https://github.com/Arber-Shala" target="_blank">GitHub</a>
            <a href="resources\master_resume.pdf">Master Resume</a>
        </h3>
 
        <hr style="border-width:2px;border-color:black">
        <!-- <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/skills">Skills</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav> -->
    </header>
    <main>
        <section>
            <h2>About</h2>
            <p>Hi! I'm a computer science graduate.</p>
        </section>
        <section>
            <h2>Projects</h2>
            <ul>
                
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2026 Arber. All rights reserved.</p>
         <!-- | 🌐 Visit my <a href="https://github.com/Arber-Shala" target="_blank">GitHub</a>! -->
    </footer>    
</body>
</html>