  <!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="\static\css\style_new.css" />
    </head>
    <body> 

        <header id="about" class="about">
          <h1 class="name">Arber Shala</h1>
          <img class="selfie" src = "\images\selfie.jpg" alt = "selfie">
          <p class="about_me">Hi! I'm a computer science graduate from the University of Alberta and an incoming management student at the University of Calgary. My interests lie in the design and organization of database management 
            systems that power websites and train Ai models. In my free time I am interested in photography and actively learning to play sports such as Tennis and Pickleball. </p>
        </header>
        
        <section id="skils" class="skills">
          <h2>Skills</h2>
            
        </section>
        <section id="projects">
          <h2>Projects</h2>
            
        </section>
        <section id="gallery">
          <h2>Photo Gallery</h2>
            
        </section>
        <section id="contact">
          <h2>Contact</h2>
            
        </section>
        <footer>
          <p>&copy; 2026 Arber Shala.</p>
        </footer>
    </body>
  </html>